.about {
    margin-top: 188px;

}

.about__inner{
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 775px;
    height: 485px;
}

.about__title {
    text-align: center;

    font-family: Lato;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #000000;
    position: relative
}

.about__title:after {
    content: "";
    width: 81px;
    height: 1px;
    background-color: #000000;
    position: absolute;
    top: 60px;
    left: 45.5%;
    }

.about__text {
    margin-top: 37px;
    font-family: Lato;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: $gray;
    text-align: center;
    margin-bottom: 69px;
}
