    <div class="container">
        <div class="features">
            <div class="features__item">
               <div class="features__icon">
                    <img src="../../assets/img/features/1.png" alt=""></div>
                <h4 class="features__title">WEB</h4>
                <div class="features__text">We tend to deliver unique and<br>functional design,through<br> innovation and creativity.</div>
            </div>
            <div class="features__item">
                <div class="features__icon">
                <img src="../../assets/img/features/2.png" alt=""></div>
                <h4 class="features__title">iOS AND ANDROID</h4>
                <div class="features__text">We seek to bring new businesses and<br>customers closer together through valuable<br>insights and proper targeting.</div>
            </div>
            <div class="features__item">
                <div class="features__icon">
                <img src="../../assets/img/features/3.png" alt=""></div>
                <h4 class="features__title">MARKETING</h4>
                <div class="features__text">We’ll help you establish the right goals<br>and build the right paths. Success depends<br> on setting the right intention.</div>
            </div>
            </div>

    </div>

