<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <img src="../../assets/img/header/logo.png" alt="">
            </div>
            <div class="header__title">
                Clear, smart, attractive design<br>
                <span>for your app, logo, website</span>
            </div>
            <button class="header__button">
                READ MORE
            </button>
        </div>
    </div>
</header>
