<div class="portfolio">
    <div class="container">
        <div class="portfolio_inner">
            <h1 class="portfolio__title">PORTFOLIO</h1>
            <nav class="nav">
                    <div class="nav__inner">
                        <a class="nav__link" href="#">ALL</a>
                        <a class="nav__link" href="#">WEB</a>
                        <a class="nav__link" href="#">APP</a>
                        <a class="nav__link" href="#">OTHER</a>
                    </div>
            </nav>
        </div>
    </div>
</div>
